
WpfCascade/.vs/ProjectEvaluation/wpfcascade.metadata.v5.1
WpfCascade/.vs/ProjectEvaluation/wpfcascade.projects.v5.1
WpfCascade/.vs/WpfCascade/DesignTimeBuild/.dtbcache.v2
WpfCascade/.vs/WpfCascade/FileContentIndex/4db772d4-9bd9-4b76-a1fb-b8aeb4f8d55b.vsidx
WpfCascade/.vs/WpfCascade/FileContentIndex/8bdbee51-4cc9-4a47-bc87-fd524f9314c3.vsidx
WpfCascade/.vs/WpfCascade/FileContentIndex/read.lock
WpfCascade/.vs/WpfCascade/v16/.suo
WpfCascade/.vs/WpfCascade/v17/.futdcache.v2
WpfCascade/.vs/WpfCascade/v17/.suo
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/CommunityToolkit.Mvvm.dll
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/ref/WpfCascade.dll
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/System.Runtime.CompilerServices.Unsafe.dll
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/WpfCascade.deps.json
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/WpfCascade.dll
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/WpfCascade.exe
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/WpfCascade.pdb
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/WpfCascade.runtimeconfig.dev.json
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/WpfCascade.runtimeconfig.json
WpfCascade/WpfCascade/bin/Debug/net5.0-windows/WPFDevelopers.dll
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/App.baml
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/App.g.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/App.g.i.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/apphost.exe
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.i.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/MainWindow.baml
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/MainWindow.g.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/MainWindow.g.i.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/ref/WpfCascade.dll
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.csproj.AssemblyReference.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.csproj.CoreCompileInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.csproj.FileListAbsolute.txt
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.designer.deps.json
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.designer.runtimeconfig.json
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.dll
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.g.resources
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.genruntimeconfig.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade.pdb
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_0kkiim1w_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_0kkiim1w_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_0kkiim1w_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_0kkiim1w_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_22c1pqqd_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_22c1pqqd_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_22c1pqqd_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_22c1pqqd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_2df25k03_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_2df25k03_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_2df25k03_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_2df25k03_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_4it2h0o2_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_4it2h0o2_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_4it2h0o2_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_4it2h0o2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_5ux2z3qs_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_5ux2z3qs_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_5ux2z3qs_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_5ux2z3qs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_dmqjdyvi_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_dmqjdyvi_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_dmqjdyvi_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_dmqjdyvi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jgqf532d_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jgqf532d_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jgqf532d_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jgqf532d_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jwjqucly_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jwjqucly_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jwjqucly_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_jwjqucly_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_MarkupCompile.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_MarkupCompile.i.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_MarkupCompile.i.lref
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_MarkupCompile.lref
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_nzcoqkkk_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_nzcoqkkk_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_nzcoqkkk_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_nzcoqkkk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_r0hkk1in_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_r0hkk1in_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_r0hkk1in_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_r0hkk1in_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_xhvb1cih_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_xhvb1cih_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_xhvb1cih_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_xhvb1cih_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_yhok3n5x_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_yhok3n5x_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_yhok3n5x_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net5.0-windows/WpfCascade_yhok3n5x_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/App.g.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/App.g.i.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.i.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/MainWindow.g.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/MainWindow.g.i.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.csproj.AssemblyReference.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.csproj.FileListAbsolute.txt
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.designer.deps.json
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.designer.runtimeconfig.json
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_addtj3i2_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_addtj3i2_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_addtj3i2_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_addtj3i2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_c3auwqj2_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_c3auwqj2_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_c3auwqj2_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_c3auwqj2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_kfwlqju2_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_kfwlqju2_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_kfwlqju2_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_kfwlqju2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_MarkupCompile.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_MarkupCompile.i.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_MarkupCompile.i.lref
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_MarkupCompile.lref
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_spdkucye_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_spdkucye_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_spdkucye_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_spdkucye_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_ud3wtvdi_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_ud3wtvdi_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_ud3wtvdi_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_ud3wtvdi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_xd5nzked_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_xd5nzked_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_xd5nzked_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_xd5nzked_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_yp3tumyx_wpftmp.AssemblyInfo.cs
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_yp3tumyx_wpftmp.AssemblyInfoInputs.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_yp3tumyx_wpftmp.assets.cache
WpfCascade/WpfCascade/obj/Debug/net6.0-windows/WpfCascade_yp3tumyx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
WpfCascade/WpfCascade/obj/project.assets.json
WpfCascade/WpfCascade/obj/project.nuget.cache
WpfCascade/WpfCascade/obj/WpfCascade.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade.csproj.nuget.g.targets
WpfCascade/WpfCascade/obj/WpfCascade_addtj3i2_wpftmp.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade_addtj3i2_wpftmp.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade_addtj3i2_wpftmp.csproj.nuget.g.targets
WpfCascade/WpfCascade/obj/WpfCascade_c3auwqj2_wpftmp.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade_c3auwqj2_wpftmp.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade_c3auwqj2_wpftmp.csproj.nuget.g.targets
WpfCascade/WpfCascade/obj/WpfCascade_kfwlqju2_wpftmp.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade_kfwlqju2_wpftmp.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade_kfwlqju2_wpftmp.csproj.nuget.g.targets
WpfCascade/WpfCascade/obj/WpfCascade_spdkucye_wpftmp.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade_spdkucye_wpftmp.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade_spdkucye_wpftmp.csproj.nuget.g.targets
WpfCascade/WpfCascade/obj/WpfCascade_ud3wtvdi_wpftmp.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade_ud3wtvdi_wpftmp.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade_ud3wtvdi_wpftmp.csproj.nuget.g.targets
WpfCascade/WpfCascade/obj/WpfCascade_xd5nzked_wpftmp.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade_xd5nzked_wpftmp.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade_xd5nzked_wpftmp.csproj.nuget.g.targets
WpfCascade/WpfCascade/obj/WpfCascade_yp3tumyx_wpftmp.csproj.nuget.dgspec.json
WpfCascade/WpfCascade/obj/WpfCascade_yp3tumyx_wpftmp.csproj.nuget.g.props
WpfCascade/WpfCascade/obj/WpfCascade_yp3tumyx_wpftmp.csproj.nuget.g.targets
